name: .NET Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish application
      run: dotnet publish OptimizerGUI.csproj -r win-x64 -c Release --self-contained true -p:PublishSingleFile=true -o ./publish

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: ./publish/OptimizerGUI.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
